.DS_Store
example/ios/exampleWizSpinner.xcodeproj/xcuserdata/*
example/ios/exampleWizSpinner.xcodeproj/project.xcworkspace/*
example/ios/CordovaLib/CordovaLib.xcodeproj/xcuserdata/*
example/ios/www/*
!example/ios/www/cordova-2.3.0.js
