.DS_Store

#iOS
example/ios/exampleWizSpinner.xcodeproj/xcuserdata/*
example/ios/exampleWizSpinner.xcodeproj/project.xcworkspace/*
example/ios/CordovaLib/CordovaLib.xcodeproj/xcuserdata/*
example/ios/www/*
!example/ios/www/cordova-2.7.0.js

#Android
example/android/bin/
example/android/gen/
example/android/.classpath
example/android/.project
example/android/local.properties

